<html ng-app="contacts">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefônica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<script src="lib/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/listaTelefonicaCtrl.js"></script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3 ng-bind="app" id="title"></h3>
		<input class="form-control" type="text" ng-model="search" placeholder="O que você está buscando?" />
		<table class="table" ng-show="contacts.length > 0">
			<tr>
				<th><input type="checkbox" ng-model="check" ng-click="selectAll(check, contacts)" /></th>
				<th><a href="" ng-click="orderBy('name')">Nome</a></th>
				<th><a href="" ng-click="orderBy('phone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
			</tr>
			<tr ng-class="{selected: contact.selected}" ng-repeat="contact in contacts | filter: search | orderBy:sortOrder:directionOrder">
				<td><input type="checkbox" ng-model="contact.selected" ng-checked="contact.selected" /></td>
				<td>{{contact.name}}</td>
				<td>{{contact.phone}}</td>
				<td>{{contact.company.name}}</td>
				<td>{{contact.created_at | date: 'dd/MM/yyyy HH:mm'}}</td>
				<!-- <td ng-repeat="(key,value) in contact">
					{{value}}
				</td> -->
			</tr>
		</table>
		<hr />
		<form name="contactForm">
			<input type="text" class="form-control" ng-model="contact.name" name="name" placeholder="Nome" ng-required="true" ng-minlength="3"/>
			<input type="text" class="form-control" ng-model="contact.phone" name="phone" placeholder="Telefone" ng-pattern="/^\d{4,5}-\d{4}$/" ng-required="true" />
			<!-- <select class="form-control" ng-model="contact.company" ng-options="company.codigo as company.nome for company in companies"> -->
			<select class="form-control" ng-model="contact.company"
					ng-required="true" 
					ng-options="company.name + ' ( ' + (company.price | currency) + ' )' for company in companies | orderBy:'name'">
				<option value="">Selecione a company</option>
			</select>
		</form>
		<div class="alert alert-danger" ng-if="contactForm.name.$invalid && contactForm.name.$dirty">Erro no campo nome.</div>
		<div class="alert alert-danger" ng-if="contactForm.name.$error.required && contactForm.name.$dirty">Preencha o campo nome</div>
		<div class="alert alert-danger" ng-if="contactForm.name.$error.minlength">Preencha ao menos 10 caracteres</div>
		<div class="alert alert-danger" ng-if="contactForm.phone.$invalid && contactForm.phone.$dirty">Erro no campo telefone.</div>
		<div class="alert alert-danger" ng-if="contactForm.phone.$error.required && contactForm.phone.$dirty">Preencha o campo telefone</div>
		<div class="alert alert-danger" ng-if="contactForm.phone.$error.pattern">Formato de telefone inválido</div>
		<button class="btn btn-primary btn-block" 
				ng-click="addContact(contact)" 
				ng-disabled="contactForm.$invalid">
			Adicionar Contato
		</button>
		<button class="btn btn-danger btn-block" 
				ng-click="deleteContact(contacts)"
				ng-show="isContactSelected(contacts)">
			Apagar Contatos
		</button>
	</div>
	<div ng-include="'view/footer.html'"></div>
</body>
</html>